In [62]:
!apt-get update # Update apt-get repository.
!apt-get install openjdk-8-jdk-headless -qq > /dev/null # Install Java.
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz # Download Apache Sparks.
!tar xf spark-3.1.1-bin-hadoop3.2.tgz # Unzip the tgz file.
!pip install -q findspark # Install findspark. Adds PySpark to the System path during runtime.

# Set environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

!ls

# Initialize findspark
import findspark
findspark.init()

# Create a PySpark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark

Get:1 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Hit:6 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:7 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:9 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Fetched 229 kB in 1s (181 kB/s)
Reading package lists... Done
drive	     spark-3.1.1-bin-hadoop3.2	    spark-3.1.1-bin-hadoop3.2.tgz.1
sample_data  spark-3.1.1-bin-hadoop3.2.tgz

In [63]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml import Pipeline
from pyspark.ml.regression import RandomForestRegressor
from pyspark.sql.functions import col, dayofmonth, month, year,  to_date, to_timestamp, weekofyear, dayofweek, udf
from pyspark.ml.feature import StringIndexer, OneHotEncoder
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.sql.types import IntegerType, StringType

#importing data from csv

from google.colab import drive
drive.mount('/content/drive')

data = spark.read.csv('/content/drive/My Drive/Colab Notebooks/Real_Estate_Sales_2001-2020_GL.csv', header=True, inferSchema=True, sep=",")

print('shape data {}, {}'.format(data.count(), len(data.columns)))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
shape data 997213, 11

In [64]:
data.show(5)

+-------------+---------+-------------+-------+--------------------+--------------+-----------+-----------+-------------+----------------+----------------+
|Serial Number|List Year|Date Recorded|   Town|             Address|Assessed Value|Sale Amount|Sales Ratio|Property Type|Residential Type|Years until sold|
+-------------+---------+-------------+-------+--------------------+--------------+-----------+-----------+-------------+----------------+----------------+
|      2020348|     2020|    9/13/2021|Ansonia|     230 WAKELEE AVE|        150500|   325000.0|      0.463|   Commercial|             Nan|               1|
|        20002|     2020|    10/2/2020|Ashford|     390 TURNPIKE RD|        253000|   430000.0|     0.5883|  Residential|   Single Family|               0|
|       200212|     2020|     3/9/2021|   Avon|    5 CHESTNUT DRIVE|        130400|   179900.0|     0.7248|  Residential|           Condo|               1|
|       200243|     2020|    4/13/2021|   Avon|111 NORTHINGTON D...|        619290|   890000.0|     0.6958|  Residential|   Single Family|               1|
|       200377|     2020|     7/2/2021|   Avon|  70 FAR HILLS DRIVE|        862330|  1447500.0|     0.5957|  Residential|   Single Family|               1|
+-------------+---------+-------------+-------+--------------------+--------------+-----------+-----------+-------------+----------------+----------------+
only showing top 5 rows

In [65]:
for col, type_ in data.dtypes:
  print('type of {} is {}'.format(col, type_))

type of Serial Number is int
type of List Year is int
type of Date Recorded is string
type of Town is string
type of Address is string
type of Assessed Value is int
type of Sale Amount is double
type of Sales Ratio is double
type of Property Type is string
type of Residential Type is string
type of Years until sold is int

In [66]:
data = data.withColumn("Date Recorded", to_date(data["Date Recorded"], "M/d/yyyy"))

In [67]:
data.printSchema()

root
 |-- Serial Number: integer (nullable = true)
 |-- List Year: integer (nullable = true)
 |-- Date Recorded: date (nullable = true)
 |-- Town: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Assessed Value: integer (nullable = true)
 |-- Sale Amount: double (nullable = true)
 |-- Sales Ratio: double (nullable = true)
 |-- Property Type: string (nullable = true)
 |-- Residential Type: string (nullable = true)
 |-- Years until sold: integer (nullable = true)

In [68]:
data = data.withColumn("Month", month("Date Recorded"))

data.show(5)

+-------------+---------+-------------+-------+--------------------+--------------+-----------+-----------+-------------+----------------+----------------+-----+
|Serial Number|List Year|Date Recorded|   Town|             Address|Assessed Value|Sale Amount|Sales Ratio|Property Type|Residential Type|Years until sold|Month|
+-------------+---------+-------------+-------+--------------------+--------------+-----------+-----------+-------------+----------------+----------------+-----+
|      2020348|     2020|   2021-09-13|Ansonia|     230 WAKELEE AVE|        150500|   325000.0|      0.463|   Commercial|             Nan|               1|    9|
|        20002|     2020|   2020-10-02|Ashford|     390 TURNPIKE RD|        253000|   430000.0|     0.5883|  Residential|   Single Family|               0|   10|
|       200212|     2020|   2021-03-09|   Avon|    5 CHESTNUT DRIVE|        130400|   179900.0|     0.7248|  Residential|           Condo|               1|    3|
|       200243|     2020|   2021-04-13|   Avon|111 NORTHINGTON D...|        619290|   890000.0|     0.6958|  Residential|   Single Family|               1|    4|
|       200377|     2020|   2021-07-02|   Avon|  70 FAR HILLS DRIVE|        862330|  1447500.0|     0.5957|  Residential|   Single Family|               1|    7|
+-------------+---------+-------------+-------+--------------------+--------------+-----------+-----------+-------------+----------------+----------------+-----+
only showing top 5 rows

In [69]:
len_ = data.count()
for i in data.columns:
    print(i)
    # Updated line: Use the column name in a string format within the filter function
    print("not nulls are {}".format(data.filter(data[i].isNotNull()).count()/len_))  # Also fixed the syntax for calling count() method
    data.describe(i).show()

Serial Number
not nulls are 1.0
+-------+-----------------+
|summary|    Serial Number|
+-------+-----------------+
|  count|           997213|
|   mean|431186.4096025623|
| stddev|6549219.174111525|
|    min|                0|
|    max|       2000500023|
+-------+-----------------+

List Year
not nulls are 1.0
+-------+------------------+
|summary|         List Year|
+-------+------------------+
|  count|            997213|
|   mean|2010.1898290535723|
| stddev| 6.237876523035602|
|    min|              2001|
|    max|              2020|
+-------+------------------+

Date Recorded
not nulls are 1.0
+-------+
|summary|
+-------+
|  count|
|   mean|
| stddev|
|    min|
|    max|
+-------+

Town
not nulls are 1.0
+-------+-------------+
|summary|         Town|
+-------+-------------+
|  count|       997213|
|   mean|         null|
| stddev|         null|
|    min|***Unknown***|
|    max|    Woodstock|
+-------+-------------+

Address
not nulls are 1.0
+-------+--------------------+
|summary|             Address|
+-------+--------------------+
|  count|              997213|
|   mean|                 NaN|
| stddev|                 NaN|
|    min|"RT 197, PARCEL "...|
|    max|  parking space only|
+-------+--------------------+

Assessed Value
not nulls are 0.9999989972052109
+-------+-----------------+
|summary|   Assessed Value|
+-------+-----------------+
|  count|           997212|
|   mean| 279143.684844346|
| stddev|1670610.695152408|
|    min|                0|
|    max|        881510000|
+-------+-----------------+

Sale Amount
not nulls are 0.9999989972052109
+-------+------------------+
|summary|       Sale Amount|
+-------+------------------+
|  count|            997212|
|   mean|391151.22581022885|
| stddev|  5347272.89298239|
|    min|               0.0|
|    max|             5.0E9|
+-------+------------------+

Sales Ratio
not nulls are 0.9999989972052109
+-------+------------------+
|summary|       Sales Ratio|
+-------+------------------+
|  count|            997212|
|   mean|10.446383360930218|
| stddev| 1890.192743876634|
|    min|               0.0|
|    max|         1226420.0|
+-------+------------------+

Property Type
not nulls are 0.9999989972052109
+-------+-------------+
|summary|Property Type|
+-------+-------------+
|  count|       997212|
|   mean|          NaN|
| stddev|          NaN|
|    min|   Apartments|
|    max|  Vacant Land|
+-------+-------------+

Residential Type
not nulls are 0.9999989972052109
+-------+----------------+
|summary|Residential Type|
+-------+----------------+
|  count|          997212|
|   mean|             NaN|
| stddev|             NaN|
|    min|           Condo|
|    max|      Two Family|
+-------+----------------+

Years until sold
not nulls are 0.9999989972052109
+-------+------------------+
|summary|  Years until sold|
+-------+------------------+
|  count|            997212|
|   mean| 0.750899507827824|
| stddev|0.4347425296858655|
|    min|               -18|
|    max|                 4|
+-------+------------------+

Month
not nulls are 1.0
+-------+------------------+
|summary|             Month|
+-------+------------------+
|  count|            997213|
|   mean| 6.812803282749021|
| stddev|3.2377180466817728|
|    min|                 1|
|    max|                12|
+-------+------------------+

In [70]:
data = data.dropna()

data = data.withColumnRenamed('Years until sold', 'Years of sales', )

In [71]:
# selecting features and agreagting data on a feature level

features = ['List Year', 'Town', 'Property Type', 'Residential Type', 'Assessed Value', 'Sale Amount', 'Sales Ratio', 'Years of sales', 'Month']

data = data.groupby('List Year', 'Month', 'Town', 'Property Type', 'Residential Type').agg({'Assessed Value': 'sum', 'Sale Amount' : 'sum', 'Sales Ratio' : 'avg', 'Years of sales' : 'avg'})

data.show(5)

+---------+-----+-------------+-------------+----------------+----------------+-------------------+-------------------+------------------+
|List Year|Month|         Town|Property Type|Residential Type|sum(Sale Amount)|avg(Years of sales)|sum(Assessed Value)|  avg(Sales Ratio)|
+---------+-----+-------------+-------------+----------------+----------------+-------------------+-------------------+------------------+
|     2020|   11|    Southbury|  Vacant Land|             Nan|        470000.0|                0.0|             305120|            0.6619|
|     2020|   10|    Westbrook|  Residential|   Single Family|      1.493865E7|                0.0|            8207570|0.5888689655172414|
|     2020|    4|      Ansonia|  Residential|   Single Family|       3587900.0|                1.0|            2082500|0.6544944444444444|
|     2020|    1|East Hartford|  Residential|   Single Family|       9998420.0|                1.0|            5646000|0.5784075434117647|
|     2020|    7|      Enfield|  Vacant Land|             Nan|        950000.0|                1.0|               9140|       0.005077778|
+---------+-----+-------------+-------------+----------------+----------------+-------------------+-------------------+------------------+
only showing top 5 rows

In [72]:
data = data.withColumnRenamed('sum(Sale Amount)', 'Sales Amount').withColumnRenamed('avg(Years of sales)', 'Years of Sales').withColumnRenamed('sum(Assessed Value)', 'Assesed Value').withColumnRenamed('avg(Sales Ratio)', 'Sales Ratio')

In [73]:
data.show()

+---------+-----+-------------+-------------+----------------+------------+--------------+-------------+-------------------+
|List Year|Month|         Town|Property Type|Residential Type|Sales Amount|Years of Sales|Assesed Value|        Sales Ratio|
+---------+-----+-------------+-------------+----------------+------------+--------------+-------------+-------------------+
|     2020|   11|    Southbury|  Vacant Land|             Nan|    470000.0|           0.0|       305120|             0.6619|
|     2020|   10|    Westbrook|  Residential|   Single Family|  1.493865E7|           0.0|      8207570| 0.5888689655172414|
|     2020|    4|      Ansonia|  Residential|   Single Family|   3587900.0|           1.0|      2082500| 0.6544944444444444|
|     2020|    1|East Hartford|  Residential|   Single Family|   9998420.0|           1.0|      5646000| 0.5784075434117647|
|     2020|    7|      Enfield|  Vacant Land|             Nan|    950000.0|           1.0|         9140|        0.005077778|
|     2020|    8|      Bethany|  Residential|   Single Family|   6300630.0|           1.0|      3338210| 0.5410076923076923|
|     2020|   11|      Bristol|  Residential|   Single Family| 1.5441227E7|           0.0|      8988420| 0.6348562062777776|
|     2020|   10|       Granby|  Vacant Land|             Nan|    176000.0|           0.0|       142240| 0.8057000000000001|
|     2020|    4|     Hartford|  Residential|   Single Family|   4404505.0|           1.0|      1214745|0.42182912946428575|
|     2020|    1|    Killingly|  Vacant Land|             Nan|    172000.0|           1.0|        94070|      0.42937272725|
|     2020|   12|         Avon|  Residential|           Condo|   5446000.0|           0.0|      3642450| 0.6699650000000001|
|     2020|    9|      Ansonia|  Residential|     Four Family|    445000.0|           1.0|       180300|             0.4051|
|     2020|   10|       Darien|  Residential|           Condo|   4070000.0|           0.0|      2620660| 0.6266666666666666|
|     2020|   12|   Colchester|  Residential|           Condo|    727900.0|           0.0|       462300| 0.6044666666666667|
|     2020|   11|       Bethel|   Industrial|             Nan|    130000.0|           0.0|        94780|              0.729|
|     2020|    6|   Colchester|  Vacant Land|             Nan|     75000.0|           1.0|        56900|             0.7586|
|     2020|    7|       Bolton|   Commercial|             Nan|    420000.0|           1.0|       230600|              0.549|
|     2020|   12|    East Lyme|  Vacant Land|             Nan|    160000.0|           0.0|       118300|             0.7393|
|     2020|    5|     Coventry|  Residential|           Condo|    197900.0|           1.0|       193000|             3.4039|
|     2020|    4|    Southbury|  Residential|   Single Family|   8532828.0|           1.0|      4978070| 0.5991675607368421|
+---------+-----+-------------+-------------+----------------+------------+--------------+-------------+-------------------+
only showing top 20 rows

In [74]:
def type_combiner(residential_type, property_type):
    if residential_type == 'Nan':
        return property_type
    else:
        return residential_type

type_combiner_udf = udf(type_combiner, StringType())

data = data.withColumn("Type combined", type_combiner_udf(data["Residential Type"], data["Property Type"]))

In [75]:
data.show(10)

+---------+-----+-------------+-------------+----------------+------------+--------------+-------------+-------------------+-------------+
|List Year|Month|         Town|Property Type|Residential Type|Sales Amount|Years of Sales|Assesed Value|        Sales Ratio|Type combined|
+---------+-----+-------------+-------------+----------------+------------+--------------+-------------+-------------------+-------------+
|     2020|   11|    Southbury|  Vacant Land|             Nan|    470000.0|           0.0|       305120|             0.6619|  Vacant Land|
|     2020|   10|    Westbrook|  Residential|   Single Family|  1.493865E7|           0.0|      8207570| 0.5888689655172414|Single Family|
|     2020|    4|      Ansonia|  Residential|   Single Family|   3587900.0|           1.0|      2082500| 0.6544944444444444|Single Family|
|     2020|    1|East Hartford|  Residential|   Single Family|   9998420.0|           1.0|      5646000| 0.5784075434117647|Single Family|
|     2020|    7|      Enfield|  Vacant Land|             Nan|    950000.0|           1.0|         9140|        0.005077778|  Vacant Land|
|     2020|    8|      Bethany|  Residential|   Single Family|   6300630.0|           1.0|      3338210| 0.5410076923076923|Single Family|
|     2020|   11|      Bristol|  Residential|   Single Family| 1.5441227E7|           0.0|      8988420| 0.6348562062777776|Single Family|
|     2020|   10|       Granby|  Vacant Land|             Nan|    176000.0|           0.0|       142240| 0.8057000000000001|  Vacant Land|
|     2020|    4|     Hartford|  Residential|   Single Family|   4404505.0|           1.0|      1214745|0.42182912946428575|Single Family|
|     2020|    1|    Killingly|  Vacant Land|             Nan|    172000.0|           1.0|        94070|      0.42937272725|  Vacant Land|
+---------+-----+-------------+-------------+----------------+------------+--------------+-------------+-------------------+-------------+
only showing top 10 rows

In [76]:
len_1 = data.count()

data = data.filter(data['Type combined'] != 'Nan')

len_2 = data.count()

print(len_2/len_1)

0.6904499448842569

In [77]:
data.select('Type combined').distinct().show()

+--------------+
| Type combined|
+--------------+
|   Four Family|
|    Apartments|
|   Vacant Land|
|    Industrial|
|    Two Family|
| Single Family|
|         Condo|
|Public Utility|
|    Commercial|
|  Three Family|
+--------------+

In [78]:
data.select('Town').distinct().count()

170

In [79]:
#selecting features

data = data.select('List Year', 'Month', 'Town', 'Sales Amount', 'Years of Sales', 'Assesed Value', 'Sales Ratio', 'Type combined')

In [80]:
#splitting into train/test

train_df, test_df = data.randomSplit([.8, .2], seed=123)

print('shape train {}, {}'.format(train_df.count(), len(train_df.columns)))
print('shape test {}, {}'.format(test_df.count(), len(test_df.columns)))

shape train 44204, 8
shape test 10916, 8

In [81]:
# Creating indexer for categorical columns

indexers = [StringIndexer(inputCol=column, outputCol=column+"_index", handleInvalid='keep') for column in ["Town", "Type combined"]]

#encoding
encoder = [OneHotEncoder(inputCols=[column+"_index" for column in ["Town", "Type combined"]],
                          outputCols=[column+"_encoded" for column in ["Town", "Type combined"]],
                          handleInvalid='keep')]

#assambling all features into 1 vector
features = ['List Year', 'Month', 'Town_index', 'Years of Sales', 'Assesed Value', 'Sales Ratio','Type combined_index']

assembler = VectorAssembler(inputCols=features,
                            outputCol="features")

rf = RandomForestRegressor(
    featuresCol="features",
    labelCol="Sales Amount",
    maxBins=4000)

stages = indexers + encoder + [assembler, rf]

rf_pipeline = Pipeline(stages=stages)

In [82]:
rf_model = rf_pipeline.fit(train_df)

In [83]:
from pyspark.sql.functions import col

test_predictions = rf_model.transform(test_df)
test_predictions = test_predictions.withColumn("prediction", col("prediction").cast("double"))

In [84]:
test_predictions.show()

+---------+-----+-----------+------------+--------------+-------------+-------------------+-------------+----------+-------------------+-----------------+---------------------+--------------------+--------------------+
|List Year|Month|       Town|Sales Amount|Years of Sales|Assesed Value|        Sales Ratio|Type combined|Town_index|Type combined_index|     Town_encoded|Type combined_encoded|            features|          prediction|
+---------+-----+-----------+------------+--------------+-------------+-------------------+-------------+----------+-------------------+-----------------+---------------------+--------------------+--------------------+
|     2006|    6|    Pomfret|    948000.0|           1.0|       511410|      0.54420917775|Single Family|     150.0|                0.0|(170,[150],[1.0])|       (11,[0],[1.0])|[2006.0,6.0,150.0...|  1931833.3919630633|
|     2006|    8|  Fairfield|    819000.0|           1.0|       537110|          0.6556795|   Two Family|      39.0|                2.0| (170,[39],[1.0])|       (11,[2],[1.0])|[2006.0,8.0,39.0,...|  1492774.6142174243|
|     2006|   11|    Seymour|   6291500.0|           0.0|      4010440| 0.6804855280000002|Single Family|      45.0|                0.0| (170,[45],[1.0])|       (11,[0],[1.0])|[2006.0,11.0,45.0...|  4673325.7084060665|
|     2006|   12|       Kent|   1315000.0|           0.0|       620000|        0.474310045|Single Family|     114.0|                0.0|(170,[114],[1.0])|       (11,[0],[1.0])|[2006.0,12.0,114....|  2031179.5332750063|
|     2007|    4|   Griswold|    157000.0|           1.0|       119490|        0.761082803|   Two Family|      57.0|                2.0| (170,[57],[1.0])|       (11,[2],[1.0])|[2007.0,4.0,57.0,...|   693560.5086867647|
|     2007|    7|    Wolcott|    568500.0|           1.0|       252590|0.47633442966666667|        Condo|      81.0|                1.0| (170,[81],[1.0])|       (11,[1],[1.0])|[2007.0,7.0,81.0,...|   945127.6138923796|
|     2008|   10| Manchester|   2128582.0|           0.0|      1278100| 0.6397794645714285|        Condo|      17.0|                1.0| (170,[17],[1.0])|       (11,[1],[1.0])|[2008.0,10.0,17.0...|  1471416.1789942356|
|     2008|   10|Southington|   1838314.0|           0.0|       808850| 0.5647943400000001|        Condo|      36.0|                1.0| (170,[36],[1.0])|       (11,[1],[1.0])|[2008.0,10.0,36.0...|  1169988.2320311512|
|     2009|    2|   Cromwell|    499900.0|           1.0|       344270|        0.688677736|Single Family|      62.0|                0.0| (170,[62],[1.0])|       (11,[0],[1.0])|[2009.0,2.0,62.0,...|  2462603.4303130293|
|     2009|    2|     Sharon|   2219500.0|           1.0|      2015930|        1.091524231|Single Family|     131.0|                0.0|(170,[131],[1.0])|       (11,[0],[1.0])|[2009.0,2.0,131.0...|   2645910.032407376|
|     2009|    3|North Haven|   5980053.0|           1.0|      4136720| 0.7610228110499999|Single Family|      68.0|                0.0| (170,[68],[1.0])|       (11,[0],[1.0])|[2009.0,3.0,68.0,...|   5291883.399584071|
|     2009|    7|       Kent|   3749250.0|           1.0|      1872400| 0.7442055693333334|Single Family|     114.0|                0.0|(170,[114],[1.0])|       (11,[0],[1.0])|[2009.0,7.0,114.0...|  2599622.2518298067|
|     2009|    8|  East Lyme|   9662266.0|           1.0|      7201670|  5.797980128249999|Single Family|      60.0|                0.0| (170,[60],[1.0])|       (11,[0],[1.0])|[2009.0,8.0,60.0,...|   9226275.993078329|
|     2009|   11|    Sherman|   2290000.0|           0.0|      1648100|       0.7057465518|Single Family|     151.0|                0.0|(170,[151],[1.0])|       (11,[0],[1.0])|[2009.0,11.0,151....|  2837156.2363005863|
|     2010|    6|    Newtown|    550000.0|           1.0|       295210|        0.536745455|   Two Family|      84.0|                2.0| (170,[84],[1.0])|       (11,[2],[1.0])|[2010.0,6.0,84.0,...|  1071439.5877215364|
|     2010|   12|    Seymour|    135000.0|           0.0|       201460|        1.492296296| Three Family|      45.0|                3.0| (170,[45],[1.0])|       (11,[3],[1.0])|[2010.0,12.0,45.0...|   623505.2681224812|
|     2012|    1|     Darien|  2.317621E7|           1.0|     19159570| 0.8751363132105263|Single Family|     101.0|                0.0|(170,[101],[1.0])|       (11,[0],[1.0])|[2012.0,1.0,101.0...|2.4674578816616856E7|
|     2012|    6|  Killingly|   3612770.0|           1.0|      3016370| 1.1328764274499998|Single Family|      25.0|                0.0| (170,[25],[1.0])|       (11,[0],[1.0])|[2012.0,6.0,25.0,...|  3466364.2840406382|
|     2012|   10|   Prospect|   1717174.0|           0.0|      1029000|       0.5988536705|        Condo|     107.0|                1.0|(170,[107],[1.0])|       (11,[1],[1.0])|[2012.0,10.0,107....|  1372731.0656441816|
|     2013|    6|New Milford|   1620500.0|           1.0|      1164800| 0.7587676561428571|        Condo|      58.0|                1.0| (170,[58],[1.0])|       (11,[1],[1.0])|[2013.0,6.0,58.0,...|  1469619.3413789456|
+---------+-----+-----------+------------+--------------+-------------+-------------------+-------------+----------+-------------------+-----------------+---------------------+--------------------+--------------------+
only showing top 20 rows

In [85]:
# Initializing the evaluator

mae_evaluator = RegressionEvaluator(
    labelCol="Sales Amount", predictionCol="prediction", metricName="mae")

mae = mae_evaluator.evaluate(test_predictions.select("Sales Amount", "prediction"))

In [86]:
mae

1742658.7553859495

In [90]:
test_predictions.filter((col('List Year') == 2012) & (col('Month') == 6) & (col('Town') == 'Killingly')).select('Sales Ratio', 'prediction').show()

+------------------+------------------+
|       Sales Ratio|        prediction|
+------------------+------------------+
|1.1328764274499998|3466364.2840406382|
+------------------+------------------+

In [98]:
test_predictions = test_predictions.withColumnRenamed('List Year', 'List_Year') \
                .withColumnRenamed('Sales Amount', 'Sales_Amount') \
                .withColumnRenamed('Years of Sales', 'Years_of_Sales') \
                .withColumnRenamed('Assesed Value', 'Assesed_Value') \
                .withColumnRenamed('Sales Ratio', 'Sales_Ratio') \
                .withColumnRenamed('Type combined', 'Type_combined') \
                .withColumnRenamed('Type combined_index', 'Type_combined_index') \
                .withColumnRenamed('Type combined_encoded', 'Type_combined_encoded')

In [99]:
test_predictions.write.parquet('/content/drive/My Drive/Colab Notebooks/Real_Estate_Sales_prediction.parquet')

In [100]:
spark.stop()